


<div *ngIf="staff">

  <h2>{{staff.name }} Details</h2>
  <div><span>Id: </span>{{staff.id}}</div>
  <div><span>Role: </span>{{staff.role}}</div>
  <div><span>Comment: </span>{{staff.comments}}</div>
  <div><span>Points: </span>{{staff.points}}</div>
  <div><span>Status: </span>{{staff.status}}</div>
  <div><span>Email Address: </span>{{staff.email}}</div>
  <div><span>Phone Number: </span>{{staff.phone}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="staff.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">Go back</button>
  <button (click)="save()">Save</button>
</div>
<!--

-->
