/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #0a0d88fd;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #eee;
}
nav a:hover {
  color: #eee;
  background-color: rgb(76, 81, 151);
}
nav a.active {
  color: #070c52;
}
