

<h2>Clane's Staff List</h2>

  <div>
    <label>Staff Name:
      <input #staffName />
    </label>
    <!-- (click) passes input value to add() and then clears the input  -->
    <button (click)='add(staffName.value); staffName.value=""'>add</button>
  </div>


<ul class="staff">
  <li *ngFor="let staff of staff">
    <a routerLink='/detail/{{staff.id}}'>
    <span class="badge">{{staff.id}}</span> {{staff.name}}
    <!-- <span> {{staff.role}}</span> {{staff.comments}}
     <span> {{staff.points}}</span> <span>{{staff.status}}</span>
     <span>{{staff.email}}</span><span>{{staff.phone}}</span> -->
    </a>
    <button class="delete" title="delete staff" (click)="delete(staff)">Delete</button>
  </li>
</ul>






<!--  -->
