/* Staff Component's private CSS styles */
.staff {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.staff li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.staff li:hover {
  color: #eee;
  background-color: #1f2188fd;
  left: .1em;
}

.staff a {
  color: #0a0d88fd;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.staff a:hover {
  color:#eee;
}

.staff .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#101264fd;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button {
  color: #EEE;
  background-color: rgb(2, 10, 77);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: #09092ffd !important;
  color: white;
}
