

<h2>Staff List</h2>
<div>

  <h3>{{staff.name}}</h3>

<!-- <ul class="staff">
  <li *ngFor="let staff of staff">
    <a routerLink='/detail/{{staff.id}}'>
    <span class="badge">{{staff.id}}</span> {{staff.name}}
    </a>
  </li>
</ul> -->
</div>




<!-- <app-staff-detail [staff]="selectedStaff"></app-staff-detail> -->
<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul> -->
