/* staffComponent's private CSS styles */

.staff {
  margin: 0 0 2em 0;
  list-style-type:none;
  padding: 0;
  width: 30em;
}
.staff li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgba(6, 6, 82, 0.472);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.staff li:hover {
  color: rgba(8, 111, 246, 0.966);
  background-color: #DDD;
  left: .1em;
}
.staff li.selected {
  background-color: rgb(21, 124, 168);
  color: white;
}
.staff li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.staff .badge {
  display: inline-block;
  font-size: small;
  color: rgb(255, 255, 255);
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#120779;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
